<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="EJSL" value="http://10.150.0.101:8080/tfs/DefaultCollection/_packaging/EJSL/nuget/v3/index.json" allowInsecureConnections="true" />
  </packageSources>
</configuration>
